* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #097969;
  color: white;
}

header {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 36px;
  padding: px;
  color: white;
  transition: 0.5s ease 0.5s;
  max-width: 1080px;
  height: 130px;
  margin: 0 auto;
}

.sectionwrapper {
  margin: 100px auto;
  border: 3px solid white;
  width: 900px;
  border-radius: 4px;
  position: relative;
  text-align: right;
  height: 525px;
  font-family: "BlinkMacSystemFont";
}

img {
  height: 550px;
  width: 694px;
  position: relative;
  right: 100px;
  bottom: 15px;
}

.leftside {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 20%;
  transition: 0.5s ease 0.5s;
}

.rightside {
  top: 0;
  right: 0;
  position: absolute;
  height: 100%;
  width: 70%;
  text-align: center;
  transition: 0.5s ease 0.5s;
}

.keytostart {
  padding: 50px;
}

.winsP {
  padding: 20px;
}

#wordWrap {
  padding: 50px;
  text-align: center;
}

.guessremainingP {
  padding: 10px;
}

.GuessedLetters {
  padding: 20px;
}

.guessedlettersdiv {
  padding: 65px;
  text-align: center;
}

.start {
  position: relative;
  left: 25%;
}
