html {
  font-family: "BlinkMacSystemFont", "-apple-system", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
}

.theme-light {
  --primary-color: #097969;
  --secondary-color: white;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
}

.theme-dark {
  --primary-color: black;
  --secondary-color: white;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
}
body {
  background: var(--primary-color);
  transition: background 2s;
}
.button {
  position: sticky;
  top: 16px;
}
.navbar-item {
  color: var(--secondary-color);
}

.navbar-link {
  color: var(--secondary-color);
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: -2em;
  right: 50px;
}
#intro {
  font-size: 22px !important;
  font-weight: bold;
  color: var(--bg-color);
}

#frame {
  position: relative;
  bottom: 150px;

  text-align: center;
  font-size: 22px;
  font-style: italic;
  color: var(--bg-color);
}

.navbar {
  color: darkgreen;
  height: 80px;
  padding-left: 30px;
  font: "roboto";
}
.navbar-menu {
  color: var(--bg-color);
}

#logo {
  position: relative;
  top: 16px;
}

#workouts {
  text-align: center;
  color: white;
}
#list {
  font-size: 22px !important;
  font-weight: bold;
  color: var(--bg-color);
  line-height: 200%;
}
.square {
  height: 300px;
  width: 400px;
  background-color: #555;
  position: absolute;
  bottom: 300px;
  right: 840px;
  border-radius: 25px;
  background-color: #afe1af;
  box-shadow: 5px 5px 20px -4px #000000;
  color: black;
}

.square2 {
  height: 300px;
  width: 400px;
  background-color: #555;
  position: absolute;
  bottom: 300px;
  right: 200px;
  border-radius: 25px;
  background-color: #afe1af;
  box-shadow: 5px 5px 20px -4px #000000;
}

#test1 {
  position: relative;
  top: 110px;
  font-size: 50px;
  color: black;
}

/* #exercise_name {
  position: relative;
  left: 640px;
} */

#card {
  width: 800px;
  position: relative;
  left: 300px;
  border-radius: 10px;
}

.hero-body1 {
  height: 800px;
}

#searchTerm {
  height: 200px;
  width: 300px;
  border-radius: 10px;
  position: relative;
  left: 50px;
  bottom: -30px;
  font-size: 22px;
  color: var(--heading-color);
  border: var(--primary-color);
  background-color: #afe1af;
}

#search {
  position: relative;
  top: 240px;
  right: 150px;
}

#test2 {
  position: relative;
  top: 110px;
  font-size: 20px;
  color: black;
}

.calorie-intro {
  font-size: 22px !important;
  font-weight: bold;
  color: var(--bg-color);
  position: relative;
  left: 475px;
  bottom: -100px;
}

.central {
  position: relative;
  top: 150px;
}

#recInt {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  font-family: Helvetica Neue;
}

.hero {
  color: var(--primary-color);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20%;
  margin-top: 50px;
  margin-left: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

#rec-button {
  background-color: Transparent;
  margin-left: -2%;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
