html {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
}
.theme-light {
  --primary-color: #23d160;
  --secondary-color: white;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
}

.theme-dark {
  --primary-color: black;
  --secondary-color: white;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
}
body {
  background: var(--primary-color);
  transition: background 2s;
}
.button {
  position: sticky;
  top: 16px;
}
.navbar-item {
  color: var(--secondary-color);
}

.navbar-link {
  color: var(--secondary-color);
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: -2em;
  right: 300px;
}

#frame {
  position: relative;
  bottom: 150px;

  text-align: center;
  font-size: 18px;
  font-style: italic;
  color: var(--bg-color);
}

.navbar {
  color: darkgreen;
  height: 80px;
  padding-left: 30px;
  font: "roboto";
}
.navbar-menu {
  color: var(--bg-color);
}

#logo {
  position: relative;
  top: 16px;
}

#workouts {
  text-align: center;
  color: white;
}

.square {
  height: 300px;
  width: 400px;
  background-color: #555;
  position: absolute;
  bottom: 300px;
  right: 840px;
  border-radius: 25px;
  background-color: #23d160;
  box-shadow: 5px 5px 20px -4px #000000;
  color: black;
}

.square2 {
  height: 300px;
  width: 400px;
  background-color: #555;
  position: absolute;
  bottom: 300px;
  right: 200px;
  border-radius: 25px;
  background-color: #23d160;
  box-shadow: 5px 5px 20px -4px #000000;
}

#test1 {
  position: relative;
  top: 110px;
  font-size: 50px;
  color: black;
}
