.navbar-item {
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/* #frame {
  position: relative;
  top: -750px;
  text-align: center;
  font-size: 18px;
} */
